$sm:600px;
$md:960px;
$lg:1280px;
$xl:1920px;
@import 'primeflex/primeflex.scss';

// A pantallas menores a md se ajusta el ancho del contenedor al contenido
// A pantallas mayores a lg se ajusta el ancho del contenedor a 75rem
// Todo esto se aplica a la clase .container

.container {
  @media screen and (min-width: $sm) and (max-width: $md) {
    max-width: min-content;
  }

  @media screen and (min-width: $md) and (max-width: $xl) {
    max-width: 75rem;
  }
}



