<div class=" surface-card py-8 px-5 sm:px-8" style="border-radius: 53px; max-width: 75rem;">
  <h2 class="text-900 text-4xl font-medium text-center mb-5">Comienza a comprar hoy!</h2>

  <form [formGroup]="registerForm" (submit)="onSubmit()" class="p-fluid">
    <div class="formgrid grid md:gap-1 justify-content-center">
      <!-- Nombre -->
      <div class="field col-12 md:col-4 mb-5">
        <label for="first_name" class="block text-900 text-xl font-medium mb-2">Nombre</label>
        <input id="first_name" formControlName="first_name" type="text" placeholder="Name" pInputText
          style="padding: 1rem" />
        <small class="p-error" *ngIf="isValidField('first_name')">
          {{ getFieldError('first_name') }}
        </small>

      </div>

      <!-- Apellido -->
      <div class="field col-12 md:col-4 mb-5">
        <label for="last_name" class="block text-900 text-xl font-medium mb-2">Apellido</label>
        <input id="last_name" formControlName="last_name" type="text" placeholder="Apellido" pInputText
          style="padding: 1rem" />
        <small class="p-error" *ngIf="isValidField('last_name')">
          {{ getFieldError('last_name') }}
        </small>
      </div>

      <!-- Usuario -->
      <div class="field col-12 md:col-4 mb-5">
        <label for="username" class="block text-900 text-xl font-medium mb-2">Usuario</label>
        <input id="username" formControlName="username" type="text" placeholder="Username" pInputText
          class="w-full" style="padding: 1rem" />
        <small class="p-error" *ngIf="isValidField('username')">
          {{ getFieldError('username') }}
        </small>
      </div>

      <!-- Correo -->
      <div class="field col-12 md:col-4 mb-5">
        <label for="email" class="block text-900 text-xl font-medium mb-2">Correo</label>
        <input id="email" formControlName="email" type="text" placeholder="Email address" pInputText
          class="w-full" style="padding: 1rem" />
        <small class="p-error" *ngIf="isValidField('email')">
          {{ getFieldError('email') }}
        </small>
      </div>

      <!-- Contraseña -->
      <div class="field col-12 md:col-4 mb-5">
        <label for="password" class="block text-900 font-medium text-xl mb-2">Contraseña</label>
        <p-password id="password" formControlName="password" placeholder="Password" [toggleMask]="true"
          styleClass="w-full" inputStyleClass="w-full p-3"></p-password>
        <small class="p-error" *ngIf="isValidField('password')">
          {{ getFieldError('password') }}
        </small>
      </div>

      <!-- Departamento (dropdown) -->
      <div class="field col-12 md:col-4">
        <label for="department" class="block text-900 text-xl font-medium mb-2">Departamento</label>
        <p-dropdown id="department" formControlName="state" [loading]="!statesOptions.length" [options]="statesOptions"
          placeholder="Selecciona un departamento" pInputText class="block" inputStyleClass="w-full" styleClass="w-full"
          [filter]="true"></p-dropdown>
        <small class="p-error" *ngIf="isValidField('state')">
          {{ getFieldError('state') }}
        </small>
      </div>

      <!-- Ciudad (dropdown) -->

      <div class="field col-12 md:col-4">
        <label for="city" class="block text-900 text-xl font-medium mb-2">Ciudad</label>
        <p-dropdown id="city" formControlName="city" [loading]="!citiesOptions.length" [options]="citiesOptions"
          placeholder="Selecciona una ciudad" pInputText class="block" inputStyleClass="w-full" styleClass="w-full"
          [filter]="true"></p-dropdown>
        <small class="p-error" *ngIf="isValidField('city')">
          {{ getFieldError('city') }}
        </small>
      </div>


      <!-- Dirección -->
      <div class="field col-12 md:col-4 mb-5">
        <label for="address" class="block text-900 text-xl font-medium mb-2">Dirección</label>
        <input id="address" type="text" formControlName="address" placeholder="Address" pInputText class="w-full"
          style="padding: 1rem" />
        <small class="p-error" *ngIf="isValidField('address')">
          {{ getFieldError('address') }}
        </small>
      </div>


    </div>
    <button pButton pRipple label="Registrarse" class="block w-full h-4rem p-3 text-xl md:w-30rem" type="submit"
      style="margin: 0 auto;"></button>
  </form>
  <div class="flex align-items-center justify-content-center mt-5 gap-5">
    <p>
      Ya tienes una cuenta?
      <!-- Añadir router link -->
      <a routerLink="/auth/login" class="font-medium no-underline ml-2 text-right cursor-pointer"
        style="color: var(--primary-color)">Iniciar Sesión</a>
    </p>
  </div>
</div>
