<footer class="py-4 px-4 mx-0 mt-8 lg:mx-8">



  <div class="grid justify-content-center align-items-center">
    <div class="col-12" style="margin-top:-1.5rem;">
      <a (click)="router.navigate(['/shop'])"
        class="flex flex-wrap align-items-center justify-content-center md:mb-0 mb-3 cursor-pointer">
        <img
          src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
          alt="footer sections" width="50" height="50" class="mr-2">
        <h2 class="font-medium text-3xl text-900">EduTools</h2>
      </a>

      <div class="flex flex-column align-items-center text-center md:text-left">
        <div class="flex gap-5">
          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Discord</a>
          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Events</a>
          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">FAQ</a>
          <a class="line-height-3 text-xl block cursor-pointer text-700">Blog</a>
        </div>

      </div>
    </div>


  </div>
</footer>
