:host ::ng-deep .pi-eye,
:host ::ng-deep .pi-eye-slash {
  transform: scale(1.6);
  margin-right: 1rem;
  color: var(--primary-color) !important;
}

.custom-otp-input {
  width: 45px;
  font-size: 36px;
  border: 0 none;
  appearance: none;
  text-align: center;
  transition: all 0.2s;
  background: transparent;
  border-bottom: 2px solid var(--surface-500);
  border-radius: 0px;
  margin: 0 0.2rem;
}

.custom-otp-input:focus {
  outline: 0 none;
  box-shadow: none;
  border-bottom-color: var(--primary-color);
}
