<!-- Formulario -->
<div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">
  <!-- <div class="text-center mb-5">
    <img src="assets/demo/images/login/avatar.png" alt="Image" height="50" class="mb-3" />
    <div class="text-900 text-3xl font-medium mb-3">Welcome, Isabel!</div>
    <span class="text-600 font-medium">Sign in to continue</span>
  </div> -->

  <!-- Reactive Form Here -->

  <div>
    <label for="email1" class="block text-900 text-xl font-medium mb-2">Correo</label>
    <input id="email1" type="text" placeholder="Email address" pInputText class="w-full md:w-30rem mb-5"
      style="padding: 1rem" />

    <label for="password1" class="block text-900 font-medium text-xl mb-2">Contraseña</label>
    <p-password id="password1" [(ngModel)]="password" placeholder="Password" [toggleMask]="true" styleClass="mb-5"
      inputStyleClass="w-full p-3 md:w-30rem"></p-password>

      <button pButton pRipple label="Iniciar Sesión" class="block w-full p-3 text-xl md:w-30rem" [routerLink]="['/']"></button>
      <div class="flex align-items-center justify-content-between mt-5 gap-5">
        <p>
          No estás registrado?
          <!-- Añadir router link -->
          <a routerLink="/auth/register" class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Regístrate</a>
        </p>
      </div>
  </div>

  <!-- End Reactive Form -->
</div>
<!-- Fin Formulario -->
