<section
  class="w-full bg-cover bg-right flex align-items-center"
  style="max-width: 1600px; margin: auto ; height: 32rem; background-image: url('../../../../assets/layout/images/hero-image.webp');"
>
  <div class="container">
    <div class="flex flex-column lg:flex-row lg:justify-content-start align-items-start px-4">
      <!-- Texto principal -->
      <div class="w-full lg:w-6">
        <h2 class="text-left text-white text-2xl font-bold mb-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </h2>
        <a
          pRipple
          [routerLink]="[]"
          fragment="shop-products"
          class="text-xl no-underline border-bottom-1 border-white text-white hover:text-700 hover:border-700"
        >
          Ver productos
        </a>
      </div>
    </div>
  </div>
</section>
