<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
              (click)="openNew()"></button>
            <!-- <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <button pButton pRipple label="Exportar a CSV" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10"
        [globalFilterFields]="['name','stock','category','status']" [paginator]="true"
        [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando de {first} hasta el {last} de {totalRecords} registros"
        [(selection)]="selectedProducts" selectionMode="single" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Manejo de Productos</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar por palabra clave"
                class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <!-- <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> -->
            <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
            <th>Imagen</th>
            <th pSortableColumn="price">Precio <p-sortIcon field="price"></p-sortIcon></th>
            <th pSortableColumn="categoryName">Categoria <p-sortIcon field="categoryName"></p-sortIcon></th>
            <th pSortableColumn="stock">Stock <p-sortIcon field="stock"></p-sortIcon></th>
            <th pSortableColumn="inventoryStatus">Estado <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <!-- <td>
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td> -->
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">ID</span>
              {{product.id}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Nombre del Producto</span>
              {{product.name}}
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Imagen</span>
              <img [src]="product.image" [alt]="product.name" width="100" class="shadow-4" />
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Price</span>
              {{product.price | currency:'COP'}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Category</span>
              {{product.categoryName}}
            </td>
            <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Stock</span>
              {{product.stock}}
            </td>
            <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Estado del stock</span>
              <span
                [class]="'product-badge ' + getStatusClass(product.inventoryStatus)">{{product.inventoryStatus}}</span>
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  (click)="editProduct(product)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deleteProduct(product)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Detalles del Producto" [modal]="true"
      class="p-fluid">
      <ng-template pTemplate="content">
        <img [src]="product.image" [alt]="product.name" width="150" class="mt-0 mx-auto mb-5 block shadow-2"
          *ngIf="product.image && !isUploadingImage">

        <img [src]="product.image.objectURL.changingThisBreaksApplicationSecurity" [alt]="product.name" width="150" class="mt-0 mx-auto mb-5 block shadow-2"
          *ngIf="isUploadingImage">

        <div class="field">
          <label for="name">Nombre del producto</label>
          <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus
            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}" />
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small>
        </div>
        <div class="field">
          <label for="description">Descripción del producto</label>
          <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3"
            cols="20"></textarea>
        </div>
        <!-- <div class="field">
          <label for="status">Inventory Status</label>
          <p-dropdown [(ngModel)]="product.inventoryStatus" inputId="inventoryStatus" optionValue="label"
            [options]="statuses" placeholder="Select">
            <ng-template pTemplate="selectedItem">
              <span *ngIf="product && product.inventoryStatus"
                [class]="'product-badge ' + getStatusClass(product.inventoryStatus) ">{{product.inventoryStatus}}</span>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <span [class]="'product-badge ' + getStatusClass(option.label)">{{option.label}}</span>
            </ng-template>
          </p-dropdown>
        </div> -->

        <!-- Upload image primeng if a image not exist -->
        <div class="field">
          <label for="image">Imagen del producto</label>
          <p-fileUpload mode="basic" accept="image/*" maxFileSize="1000000" chooseLabel="Seleccionar Imagen"
            uploadLabel="Subir Imagen" cancelLabel="Cancelar" customUpload="true" (uploadHandler)="onUpload($event)"
            [showUploadButton]="!product.image" [showCancelButton]="!product.image" [auto]="true" />
        </div>

        <div class="field">
          <label class="mb-3">Selecciona una categoría:</label>
          <div class="formgrid grid" *ngFor="let category of categories">
            <div class="field-radiobutton col-6">
              <p-radioButton [id]="category.id" name="category" [label]="category.name" [value]="category.id"
                [(ngModel)]="product.categoryID"></p-radioButton>
              <!-- <label [for]="category.id">{{ category.name }}</label> -->
            </div>
          </div>
        </div>

        <div class="formgrid grid">
          <div class="field col">
            <label for="price">Precio por unidad:</label>
            <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="COP"
              locale="es-CO"></p-inputNumber>
          </div>
          <div class="field col">
            <label for="quantity">Cantidad:</label>
            <p-inputNumber id="quantity" [(ngModel)]="product.stock"></p-inputNumber>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product">Estás seguro de que quieres eliminar el producto: <b>{{product.name}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
          (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
