<nav id="header" class="surface-50 shadow-1 w-full py-3">
  <div class="container mx-auto flex align-items-center justify-content-between px-3">

    <!-- Logo -->
    <div class="flex align-items-center justify-content-center">
      <a [routerLink]="'/store'" class="flex align-items-center justify-content-center no-underline">
        <img src="assets/layout/images/{{
          layoutService.config().colorScheme === 'light'
            ? 'logo-dark'
            : 'logo-white'
        }}.svg" alt="Sakai logo" class="mb-2 w-3" />
        <h1 class="font-medium text-2xl md:text-3xl text-900">EduTools</h1>
      </a>
    </div>

    <!-- Íconos de usuario y carrito -->
    <div class="flex align-items-center justify-content-center">
      <div>
        <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
        <button class="p-link layout-topbar-button text-3xl mr-2" (click)="menu.toggle($event)">
          <i class="pi pi-user"></i>
        </button>
      </div>
      <button class="p-link layout-topbar-button text-3xl ml-2" (click)="openCart()">
        <i class="pi pi-shopping-cart"></i>
      </button>
    </div>
  </div>

  <app-shop-cart [isVisible]="isVisible" (isVisibleChange)="toggleCart($event)" ></app-shop-cart>
</nav>
