<p-sidebar [(visible)]="isVisible" [fullScreen]="isMobile" [styleClass]="!isMobile ? 'w-30rem' : ''" position="right" (onHide)="handleClose()">
  <ng-template pTemplate="header">
    <h4>Carrito de Compras</h4>
  </ng-template>
  <div class="card">
    <p-dataView #dv [value]="products" [layout]="layout">
      <ng-template pTemplate="list" let-products>
        <div class="grid grid-nogutter">
          <div class="col-12" *ngFor="let item of products; let first = first" class="col-12">
            <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3"
              [ngClass]="{ 'border-top-1 surface-border': !first }">
              <div class="md:w-10rem relative">
                <img class="block xl:block mx-auto border-round w-full"
                  [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + item.image" [alt]="item.name" />
                <p-tag [value]="item.inventoryStatus" [severity]="getSeverity(item)" class="absolute"
                  [style.left.px]="4" [style.top.px]="4" />
              </div>
              <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                  <div>
                    <div class="text-lg font-medium text-900 mt-2">{{ item.name }}</div>
                  </div>
                </div>
                <div class="flex flex-column md:align-items-end gap-5">
                  <span class="text-xl font-semibold text-900">{{ '$' + item.price }}</span>
                  <div class="flex flex-row-reverse md:flex-row gap-2">
                    <!-- Delete product button -->
                    <p-button icon="pi pi-trash" severity="danger" [outlined]="true"  />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template let-product pTemplate="grid" let-products>
        <div class="grid grid-nogutter">
          <div class="col-12 sm:col-6 md:col-4 xl:col-6 p-2" *ngFor="let product of products">
            <div class="p-4 border-1 surface-border surface-card border-round flex flex-column">
              <div class="surface-50 flex justify-content-center border-round p-3">
                <div class="relative mx-auto">
                  <img class="border-round w-full"
                    [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image"
                    [alt]="product.name" style="max-width: 300px;" />
                  <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product)"></p-tag>
                </div>
              </div>
              <div class="pt-4">
                <div class="flex flex-row justify-content-between align-items-start gap-2">
                  <div>
                    <div class="text-lg font-medium text-900 mt-1">{{ product.name }}</div>
                  </div>
                </div>
                <div class="flex flex-column gap-4 mt-4">
                  <span class="text-2xl font-semibold">{{ '$' + product.price }}</span>
                  <div class="flex gap-2">
                    <p-button icon="pi pi-trash" severity="danger" [outlined]="true"  />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
  <!-- Botón para procesar pago -->
  <div class="flex mt-4 align-items-end">
    <p-button label="Procesar Pago" icon="pi pi-credit-card" class="w-full" styleClass="p-button-lg"></p-button>
  </div>
</p-sidebar>
