<p-sidebar [(visible)]="isVisible" [fullScreen]="isMobile" [styleClass]="!isMobile ? 'md:w-6 lg:w-5' : ''"
  position="right" (onHide)="handleClose()" [closeOnEscape]="false">
  <ng-template *ngIf="isUserAuthenticated; then cartBlock else loginBlock"></ng-template>

  <ng-template #cartBlock>
    <ng-template pTemplate="header">
      <h4>Carrito de Compras</h4>
    </ng-template>
    <div class="card">
      <!-- Mostrar total de todos los productos en el carrito -->
      <div class="flex justify-content-between align-items-center w-full gap-2">
        <span class="text-lg font-semibold text-900">Total: {{ cart.total| currency }}</span>
        <p-button label="Procesar Pago" [disabled]="!cart.total" icon="pi pi-credit-card" styleClass="p-button-lg"></p-button>
      </div>
      <h5>Productos añadidos:</h5>
      <p-dataView #dv [value]="products" [layout]="layout">
        <ng-template pTemplate="list" let-products>
          <div class="grid grid-nogutter">
            <div class="col-12" *ngFor="let item of products; let first = first" class="col-12">
              <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3"
                [ngClass]="{ 'border-top-1 surface-border': !first }">
                <div class="image-container">
                  <img class="image" style="max-width: 8rem; max-height: 8rem;"
                    [src]="item.product_image" [alt]="item.product_name" />
                  <p-tag [value]="item.inventoryStatus" [severity]="getSeverity(item)" class="absolute"
                    [style.left.px]="4" [style.top.px]="4" />
                </div>
                <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                  <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                    <div>
                      <div class="text-lg font-medium text-900 mt-2">{{ item.product_name }}</div>
                      <span class="font-normal">Cantidad: {{ item.quantity }}</span>
                    </div>
                  </div>
                  <div class="flex flex-column md:align-items-end gap-5">
                    <span class="text-xl font-semibold text-900">{{ item.product_price | currency }}</span>
                    <div class="flex flex-row-reverse md:flex-row gap-2">
                      <!-- Delete product button -->
                      <p-button icon="pi pi-trash" severity="danger" [disabled]="item.disabled" (onClick)="onDeleteProductCart(item)" [outlined]="true" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template let-product pTemplate="grid" let-products>
          <div class="grid grid-nogutter">
            <div class="col-12 sm:col-6 md:col-4 xl:col-6 p-2" *ngFor="let product of products">
              <div class="p-4 border-1 surface-border surface-card border-round flex flex-column">
                <div class="surface-50 flex justify-content-center border-round p-3">
                  <div class="relative mx-auto">
                    <img class="border-round w-full"
                      [src]="product.product_image"
                      [alt]="product.product_name" style="max-width: 300px;" />
                    <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product)"></p-tag>
                  </div>
                </div>
                <div class="pt-4">
                  <div class="flex flex-row justify-content-between align-items-start gap-2">
                    <div>
                      <div class="text-lg font-medium text-900 mt-1">{{ product.product_name }}</div>
                    </div>
                  </div>
                  <div class="flex flex-column gap-4 mt-4">
                    <span class="text-2xl font-semibold">{{ '$' + product.product_price }}</span>
                    <div class="flex gap-2">
                      <p-button icon="pi pi-trash" severity="danger" [outlined]="true" [disabled]="product.disabled" (onClick)="onDeleteProductCart(product)" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </ng-template>

  <ng-template #loginBlock>
    <ng-template pTemplate="header">
      <h4>Verificación</h4>
    </ng-template>
    <div class="flex flex-column align-items-center justify-content-center p-4 h-full">
      <p>Por favor, inicie sesión para ver su carrito de compras.</p>
      <p-button label="Iniciar Sesión" routerLink="/auth" icon="pi pi-sign-in" styleClass="w-full"
        styleClass="p-button-lg"></p-button>
    </div>
  </ng-template>
</p-sidebar>
