.w-custom {
  width: 40rem;
}

.image-container {
  width: 8rem; /* Ancho fijo del contenedor */
  height: 8rem; /* Alto fijo del contenedor */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Oculta el contenido desbordante */
  border-radius: 0.5rem; /* Opcional: para bordes redondeados */
  background-color: #f4f4f4; /* Opcional: fondo para imágenes vacías */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hace que la imagen se ajuste al contenedor */
  border-radius: 0.5rem; /* Opcional: redondea la imagen también */
}
