<div class="card">
  <p-table [value]="customers" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Fecha</th>
            <th scope="col">Total</th>
            <th scope="col">Estado</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
          <tr>
              <td>{{customer.id}}</td>
              <td>{{customer.name}}</td>
              <td>{{customer.address}}</td>
              <td>{{customer.phone}}</td>
              <td>{{customer.date}}</td>
              <td>{{customer.total}}</td>
              <td>{{customer.status}}</td>
          </tr>
      </ng-template>
  </p-table>
</div>
